*{
    box-sizing: border-box;
}

body{
    position: fixed;
    top:0;
    bottom:0;
   background-image:url("../images/subtle_zebra_3d.png");
   margin:0;
   padding:0;
   height:100%;
   width:100%
}
footer{
    position: fixed;
    bottom:0px;
    left:0;
    height:60px;
    width:100%;
    background-color:#222;
    text-align: center;
   padding-top: 10px;
   color:#9d9d9d;
 
}
.container{
     background-color: #222;
     height:75%;
    margin:0 10px 0 20px;
     border-radius: 10px;
 }
 #container{
    background-color: #222;
    height:70%;
    width:70%;
   margin:0 10px 0 20px;
    border-radius: 10px; 
 }
 .para{
    font-family: 'Georgia', Times,'Times New Roman', serif;
    font-size: 20px;
    color: #eee;
    
    /*margin: 5px 20px 20px 10px;*/
}
.img{
    float:left;
   margin:5px 20px 20px 0px;
   border:2px solid white;
   border-radius: 5px;
   height:300px;
   padding:0;
   
} 
h1{
    color:white;
}

input[type=text],select,textarea {
    width: 100%;
    padding: 8px 15px;
    margin: 5px 0;
    
    border: 1px solid #ccc;
   box-sizing: border-box;
   font-size: 15px;
   font-family: 'Georgia', Times,'Times New Roman', serif;
   border-radius: 5px;
   resize: vertical;
}
input[type=submit]{
    width: 13%;
    padding:10px 15px;
    margin: 8px 0;
    border:none;
    font-family: 'Georgia', Times,'Times New Roman', serif;
font-size: 15px;
color: #eee;
background-color: #009999;
border-radius: 5px;
cursor: pointer;
}
input[type=submit]:hover{
    background-color: green;
    color: black;
}
label{
    color: #eee;
}
.formstyle{
    margin:20px 20px 20px;  
}
.container1 {
    position: relative;
    width: 95%;
    max-width: 800px;
   overflow: auto;
  margin: 10px;
}

.container1 img {
    margin-left:10px;
    width: 95%;
    height: 160px;
    border:4px solid #009999;
    border-radius: 5px;
}

.container1 button {
    position: absolute;
    top: 70%;
    left: 10px;
    width:95%;
    background-color:#009999;
    color: white;
    font-size: 16px;
    border: none;
   padding:10px;
    text-align: center;
}

.container1 button:hover {
    background-color: black;
}


@media screen and (max-width:960px){
    .container{
        background-color: #222;
        height:76%;
       margin:0 10px 0 20px;
        border-radius: 10px;
        overflow: auto;
    }
    .container1 img {
        margin-left:10px;
        width: 95%;
        height: 150px;
        border:4px solid #009999;
        border-radius: 5px;
    }
    
    .container1 button {
        position: absolute;
        top: 65%;
        left: 10px;
        width:95%;
        background-color:#009999;
        color: white;
        font-size: 16px;
        border: none;
       padding:8px;
        text-align: center;
    }
    .para{
        font-family: 'Georgia', Times,'Times New Roman', serif;
        font-size: 17px;
        color: #eee;
        
        /*margin: 5px 20px 20px 10px;*/
    }
}



@media screen and (max-width:768px){
    .container{
        background-color: #222;
        height:78%;
       margin:0 10px 0 20px;
        border-radius: 10px;
        overflow: auto;
    }
    .container1 img {
        margin-left:10px;
        width: 95%;
        height: 130px;
        border:4px solid #009999;
        border-radius: 5px;
    }
    
    .container1 button {
        position: absolute;
        top: 65%;
        left: 10px;
        width:95%;
        background-color:#009999;
        color: white;
        font-size: 16px;
        border: none;
       padding:8px;
        text-align: center;
    }
    .para{
        font-family: 'Georgia', Times,'Times New Roman', serif;
        font-size: 17px;
        color: #eee;
        
        /*margin: 5px 20px 20px 10px;*/
    }
}
@media screen and (max-width:640px){
    .container{
        background-color: #222;
        height:78%;
       margin:0 10px 0 20px;
        border-radius: 10px;
        overflow: auto;
    }
    .container1 img {
        margin-left:10px;
        width: 95%;
        height: 100px;
        border:4px solid #009999;
        border-radius: 5px;
    }
    
    .container1 button {
        position: absolute;
        top: 65%;
        left: 10px;
        width:95%;
        background-color:#009999;
        color: white;
        font-size: 14px;
        border: none;
       padding:6px;
        text-align: center;
    }
    .para{
        font-family: 'Georgia', Times,'Times New Roman', serif;
        font-size: 15px;
        color: #eee;
        
        /*margin: 5px 20px 20px 10px;*/
    }
    input[type=submit]{
        width:100%;
        padding:10px 15px 10px 15px;
        margin: 8px 0;
        border:none;
        font-family: 'Georgia', Times,'Times New Roman', serif;
    font-size: 15px;
    color: #eee;
    background-color: #009999;
    border-radius: 5px;
    cursor: pointer;
    }
}